:root {
  --color-accent: #5eead4;
  --color-highlight: #e2e8f0;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
}

body {
  background-color: rgb(15 23 42);
  color: rgb(148 163 184);
  padding: 2.5rem 1.5rem;
}

.highlight {
  color: var(--color-highlight);
  letter-spacing: 0.1rem;
}

.margin {
  margin-bottom: 2rem;
}

/* ----- header ------- */

header h1,
header h4 {
  color: var(--color-highlight);
}

header h4 {
  margin-top: 0.75rem;
  font-weight: 600;
}

header p {
  max-width: 20rem;
  margin-top: 1rem;
  line-height: 1.5;
}

header i {
  color: rgb(148 163 184);
}

.contact-icon {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
}

.contact-icon i:hover {
  color: var(--color-highlight);
}

.nav-menu {
  display: none;
}

/* ------ main -----*/

main {
  padding-top: 6rem;
}

.about-txt {
  line-height: 1.75;
  margin-bottom: 1rem;
}

.txt-highlight {
  color: var(--color-highlight);
  text-decoration: none;
}

.txt-highlight:hover {
  color: var(--color-accent);
}

main section {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-bottom: 4rem;
}

.exp-ol {
  display: grid;
  gap: 3.5rem;
}

.thumbnail {
  display: none;
}

.card-header {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: rgb(100 116 139);
  opacity: 1;
}

.card-txt {
  display: grid;
  gap: 1rem;
}

.card-txt p {
  line-height: 1.5;
  font-size: 0.9rem;
}

.tech-used {
  display: flex;
  font-size: 0.8rem;
  font-weight: 600;
  gap: 0.5rem;
}

.tech-used li {
  background-color: rgba(45, 212, 191, 0.1);
  color: rgb(94 234 212);
  opacity: 3;
  padding: 0.5rem 0.75rem;
  border-radius: 100px;
}

.project-i {
  display: grid;
  gap: 1rem;
}

.project-i img {
  border-radius: 2.5px;
  border: 2px solid rgba(226, 232, 240, 0.1);
  width: 200px;
  aspect-ratio: auto 200 / 48;
}

.project-ls {
  display: grid;
  gap: 3.5rem;
}

/* ----- footer -------*/

footer {
  max-width: 450px;
  margin-bottom: 4rem;
}

footer p {
  line-height: 1.5;
  font-size: 0.9rem;
  opacity: 0.5;
}

/* ------ media queries -------*/

@media (min-width: 640px) {
  /*---footer---*/

  header h1 {
    font-size: 3rem;
  }
  header h4 {
    font-size: 1.25rem;
  }

  /*--- main ---*/

  .exp-item {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 2rem;
  }

  .card-txt {
    grid-column: span 6 / span 6;
    order: 2;
  }

  .card-header {
    grid-column: span 2 / span 2;
  }

  .project-i {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 2rem;
  }

  .project-i img {
    grid-column: span 2 / span 2;
    order: 1;
    width: 100%;
  }
}

@media (min-width: 768px) {
  body {
    padding: 5rem 3rem;
  }
}
